<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <img src="../public/images/logo-mercado-liebre.svg"></img>
    <div>Lugar para poner la barra de búsqueda</div>
    <div>Comprá en cuotas y sin tarjeta de crédito</div>
    <ul>
        <li><a href="">Ofertas</a></li>
        <li><a href="">Tiendas Oficiales</a></li>
        <li><a href="">Vender</a></li>
        <li><a href="">Ayuda</a></li>
    </ul>
    <ul>
        <li><a href="">Creá tu cuenta</a></li>
        <li><a href="">Ingresá</a></li>
        <li><a href="">Mis compras</a></li>
    </ul>
</head>
<body>
    <h2>Basado en tu última visita</h2>
            <div><img src="../public/images/img-cafetera-moulinex.jpg"></div>
            <div>$6.770</div>
            <div>40% OFF</div>
            <div>Cafetera Moulinex</div>
            <div><img src="../public/images/img-macbook-pro-2019.jpg" alt=""></div>
            <div>$230.000</div>
            <div>20% off</div>
            <div>MacBook Pro 2019</div>
            <div><img src="../public/images/img-samsung-galaxy-s10.jpg" alt=""></div>
            <div>$70.500</div>
            <div>10% off</div>
            <div>Samsung Galaxy S10</div>
            <div><img src="../public/images/img-tv-samsung-smart.jpg" alt=""></div>
            <div>$23.200</div>
            <div>5% off</div>
            <div>SmartTv Samsung 43"</div>
    <h2>Sección de Ofertas</h2>
            <div><img src="../public/images/img-cafetera-moulinex.jpg"></div>
            <div>$6.770</div>
            <div>40% OFF</div>
            <div>Cafetera Moulinex</div>
            <div><img src="../public/images/img-macbook-pro-2019.jpg" alt=""></div>
            <div>$230.000</div>
            <div>20% off</div>
            <div>MacBook Pro 2019</div>
            <div><img src="../public/images/img-samsung-galaxy-s10.jpg" alt=""></div>
            <div>$70.500</div>
            <div>10% off</div>
            <div>Samsung Galaxy S10</div>
            <div><img src="../public/images/img-tv-samsung-smart.jpg" alt=""></div>
            <div>$23.200</div>
            <div>5% off</div>
            <div>SmartTv Samsung 43"</div>
</body>
<footer>
    <h2>Pagá con tarjeta o en efectivo</h2>
    <div>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</div>
    <h2>Envío gratis desde $ 2.500</h2>
    <div>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</div>
    <h2>Seguridad, de principio a fin</h2>
    <div>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</div>
    <h2>Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
</footer>
</html>